.slider{
    height: 400px;
    width: 300px;
    background-color: #c2d87a;
   border-radius: 10px;
    text-align: center;
    margin-left: 40px;
}
.card{
    display: grid;
    grid-template-columns: repeat(2,30%);
  justify-content: center;
    gap: 40px;
    background-image: url(https://cdn.shopify.com/s/files/1/0361/8553/8692/files/5_9852062b-daef-422d-bf00-c4b56acdeb28.png?v=1642765428);
}