/* div{
    border: 1px solid red;
    margin-top: 300px;
} */
.mainBox{
    /* border: 1px solid red; */
    width: 70%;
    margin: auto;
    height: 700px;
    display: flex;
    margin-top: 150px;
}

.imgBox{
    width: 48%;
    /* border: 1px solid black; */
    height: 83%;
    border-radius: 20px;
    /* margin-top: 50px; */
}

.fullImg{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.details{
    width: 46%;
    /* border: 1px solid black; */
    margin-left: 80px;
}

.value{
    /* border: 1px solid blue */
    width: 100%;
    height: 80px;
    /* text-align: left; */
    font-size: 25px;
    font-weight: bold;
    color: black;
}

.value3{
    width: 75%;
    height: 80px;
    /* height: 100px; */
    margin: auto;
    color: gray;
    line-height: 2;
    margin-top: 80px;
    /* border: 1px solid red; */
    font-size: 18px;
}


.starBox{
    /* border: 1px solid black; */
    width: 50%;
    margin: auto;
    display: flex;
    margin-top: 35px
}

.star{
    /* border: 1px solid red; */
    width: 45%;
    display: flex;
    /* margin-top: 25px */
}

.reviewBox{
    border: 1px solid black;
    width: 43%;
    color: black;
    text-decoration:underline;
    font-size: 15px;
    padding-top: 5px;
    /* margin-top: 24px; */
}

.amountBox{
    /* border: 1px solid red; */
    width: 80%;
    margin: auto;
    /* height: 150px; */
    margin-top: 20px;
   display: flex;
}


.cutPrice,.price{
    width: 33%;
    /* border: 1px solid black; */
    height: 60px
}

.cut{
    font-size: 25px;
    text-decoration: line-through;
    font-weight: 500;
    text-align: left;
}

.taxBox{
    /* border: 1px solid black; */
    width: 80%;
    margin: auto;
    text-align: left;
    font-size: 14px;
   /* padding-top: -25px; */
}

.tax{
    margin-top: -5px;
}


.prc{
    font-size: 25px;
    color: red;
    font-weight: 500;
}

.selct{
    width: 70%;
    height: 40px;
    font-size: 17px;
    margin-right: 170px;
    margin-top: 20px;
    border: 1px solid gray; 
}

.btn{
    width: 100%;
    background-color: #50504b;
    color: white;
    font-weight: bold;
    font-size: 18px;
    padding: 15px 40px;
    margin-top: 30px;
    border: none;
}
