.PaymentContainer{
    font-family: 'Segoe UI', sans-serif;
    font-family: "Segoe UI";
   

    background-color: #ffffff;
}

 .PaymentContainer > div{
    display :flex;
    margin-top: 50px;
    /* border:1px solid yellowgreen; */
    margin-left: auto;


}
.afterImg{
    width: 40%;
    /* border: 1px solid black; */
    margin:auto;
    height: 40px;
    display: flex;
    font-size: 11px;
    gap: 20px;
    margin-top: 15px;
}
.PaymentTitle{
  height:50px;
  width: 180px;
  margin: auto;
  margin-top: 50px;
 
}

.PaymentLeft{
    height:100%;
    width:601.03px;
    /* border:1px solid; */
    margin-left: 150px;
    background-color: #ffffff;
}
.PaymentLeft > div {
    height: fit-content;
    width: 90%;
    border: 0.1px solid #cccccc;
    border-radius: 5px;
    margin: auto;
    padding: 5px;
    margin:25px auto 15px auto ;
    background-color: #ffffff;
}
.PaymentRight{
    background-color: #cccccc ;
    height:auto;
    width:600px;

    
}
.AddingCartData{
    background-color:#fafafa;
    overflow: auto;
}
.PaymentContact,.PaymentShipto,.PaymentMethod{
display: flex;
justify-content: space-between;
font-size:14px ;
padding: 10px;
text-align: left;
}

.PaymentContact,.PaymentShipto{
    border-bottom:0.1px solid #cccccc ;
}
.Div1title{
    color: #8a7373;
}
.change{
    font-size: 10px;
    color: #ff6781;
}
.PaymentPara{
 
    width: 280px;
    margin-left: 5px;
}
.Div2title{
    text-align: left;
    font-size: 14px;
   border: 1px solid ;
   border: none  !important;
   margin-bottom: -25px !important;
}

.PaymentOpts>div{
    font-size: 12px;
    padding: 10px;
    border:1px solid;
    width: 100%;
    border: 0.1px solid #cccccc;
    border-radius: 5px;
    margin-bottom: 5px;
}

.Paytmbox{
    width:90%px;

}
.radio1{
    display: flex;
    justify-content: space-between;
   font-size: 14px;
}



.paymentCardsDiv{
    display: flex;
    justify-content: space-between;
  
    gap:5px
}
.paymentCards{
    width: 38px;
    height: 24px;
    border: 0.1px solid #cccccc;
    border-radius: 3PX;
}
.PaymentHiddenDiv{
    height: 120px;
    width: 150px;
    font-size: 14px;
    margin: auto;
    background-color: #fafafa;
    margin-top: -25px;
    /* border: 1px solid; */
}

.hiddenpara{
    font-size: 10px;
    background-color: #fafafa;
}
/* .razopay{
    font-size: 8px;
    border:1px solid;
    margin-left: 0px;
} */

.PaymentCompBtn{
    text-align: center;
    border:1px solid;
    margin-left: 60%;
    padding: 10px;
    background-color: #616160;
    color: white;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 35px;
}

.paymentbottmDiv{
    display: flex;
    font-size: small;
    margin-left: 35px;
    color: #ff6781;
}

.bcktocarticon{
    font-size: 20px;
    
  
}
.paymentHor{
   
    width: 80%;
    margin: auto;
}
.bottomFoot{
    margin: auto;
    width: 80%;
    display: flex;
    color: #ff6781;
    font-size: 14px;
    gap: 25px;
    justify-content: space-between;
    margin-top: 25px;
    margin-bottom: 50px;
}
.paytmImg{
    height: 22px;
    width: 120px;
    margin-left: 25px;
}
.paymentRadio{
    color: #ff6781;
   
}
.PaymentRight{
    background-color: #fafafa;
    
    
}

.EndRight{
    width: 40%;
    height: auto;
   border-left: 1px solid #cccccc;
   background-color: #fafafa;
}
.EndRLeft{
   border-right: 1px solid #cccccc;
   width: 60%;
}




.addrs{
    text-align: left;
    /* border: 1px solid black; */
    margin-top: 5px;
    font-weight: 500;
}
.slct{
    width: 92%;
    height: 45px;
    margin-right: 54px;
    padding: 0px 5px;
    border-radius: 5px;
    border: 1px solid gray;
    }
.naminp{
    /* border: 1px solid black; */
    display: flex;
    width: 100%;
    margin-top: 10px;
    gap: 50px;
}

.firstNam{
    width: 110%;
    height: 45px;
    padding: 0px 5px;
    border-radius: 5px;
    border: 1px solid gray;
    margin-right: 30px;
}

.LastNam{
    width: 125%;
    height: 45px;
    padding: 0px 5px;
    border-radius: 5px;
    border: 1px solid gray;
}

.twoInp{
    width: 90%;
    height: 45px;
    margin-right: 47px;
    padding: 0px 5px;
    border-radius: 5px;
    border: 1px solid gray;
    margin-top: 10px; 
}

.threeInp{
    width: 100%;
    /* border: 1px solid red; */
    display: flex;
    margin-top: 10px;
    gap: 20px;
}




.twoInp{
    width: 90%;
    height: 45px;
    margin-right: 47px;
    padding: 0px 5px;
    border-radius: 5px;
    border: 1px solid gray;
    margin-top: 10px; 
}

.threeOneInp{
    width: 100%;
    height: 45px;
    padding: 0px 5px;
    border-radius: 5px;
    border: 1px solid gray;
}