
.bhlovesharedmaindiv{
    margin: auto;
    margin-top: 30px;
    width:80%;
}

.bhlovesharedimg{
    
    margin: auto;
    margin-top: 30px;

    /* height: 300px; */
}

.bhlovesharedimg img{
    border-radius: 15px;
    width:100%;

}