.bhingredientsmain{
    margin-top: 30px;
}


.bhingredientsitems{
    /* border:  solid red; */
    height: 450px;
}

.bhingredientsimage{
    border-radius: 15px;
    height: 450px;
    /* opacity: 1;
    transition: opacity .4s ease;
    max-width: 100%; */
}
.bhingredientsimage img{
    border-radius: 15px;
    height: 450px;
    opacity: 1;
    transition: opacity .4s ease;
    max-width: 100%;
}