.bhbigdiv{
    margin-top:20px ;
 width: 90%;
 margin: auto;
    /* border :1px solid red; */
}

.bhupperdiv{
    /* border:1px solid black; */
    display: flex;  
    height: 400px;
    gap:20px;
    
}


.bhleft1div{
    /* border:1px solid black; */
    width: 40%;
    height: 400px;
    border-radius: 15px;
 
    
}
.bhleft1div:hover{
     opacity: 0.7;
     }
.bhleft1div img{
    width: 100%;
    height:400px;
    border-radius: 15px;
}

.bhright1div{
    /* border:1px solid black; */
    width: 60%;

    height: 400px;
  
}

.bhright1div:hover{
    opacity: 0.7;
    }

.bhright1div img{
    width: 100%;
    height:400px;
    border-radius: 15px;
    
}


.bhlowerdiv{
    /* border:1px solid black; */
    margin-top:20px ;
    display: flex;  
    height: 400px;
    gap:20px;
    

}
.bhleft2div{
    /* border:1px solid black; */
    width: 100%;
    height:400px;
    border-radius: 15px;
}
.bhright2div{
    /* border:1px solid black; */
    width: 40%;
    height: 400px;
    border-radius: 15px;
}


.bhright2div img{
    width: 100%;
    height:400px;
    border-radius: 15px;
}

.bhleft2div img{
    width: 100%;
    height:400px;
    border-radius: 15px;
    
}
