.bhupperdiv{
    margin: auto;
    width: 80%;
font-size: 22px;

}
.bhimagesdiv{
    margin: auto;
    width:80%;
    display: flex;
    justify-content: space-around;
}

.bhimagesdiv img{
    width: 100%;
    height: 150px;
}