.bhoffermaindiv{
    margin: auto;
    margin-top: 30px;
    /* border: 2px solid red; */
    height: 300px;
    width:80%;
  
}
.bhofferitems{
height: 300px;
/* border-radius: 10px; */
}
.bhofferbigdiv{
    margin-top: 30px;
    /* border-radius: 10px; */
}
.bhofferimage img{
    width: 100%;
    height: 300px;
border-radius: 15px;
}