
*{
    font-family: 'Roboto', sans-serif;
    letter-spacing: 2px;
}


.BhfooterContainer{
    /* border: 1px solid red; */
    display: flex;
    width: 90%;
    height: 500px;
    margin: auto;
    justify-content: space-around;
    align-items: center;
    letter-spacing: 2px;
    font-size:17px;
    color:#50504b;
   
}

.bhfooter1stcolumn{
    /* border: 1px solid black; */
    height: 450px;
    width:30vw;
}
.bhfooter1stcolumn div{
    margin-top: 15px;
    text-align: left;
    margin-left: 25px;
}

.bhfooter2ndcolumn{
    /* border: 1px solid black; */
    width:30vw;
    height: 450px;
}
.bhfooter2ndcolumn div{
    margin-top: 15px;
    text-align: left;
    margin-left: 25px;
}
.bhfooter3rdcolumn{
    /* border: 1px solid black; */
    width:30vw;
    height: 450px;
}
.bhfooter3rdcolumn div{
    margin-top: 15px;
    text-align: left;
    margin-left: 25px;
}

.Bhfootericons{
   
    display: flex;
    justify-content: flex-start;
    align-items: center;
   
}
.Bhfootericons p{
    margin-left: 15px;

}
.Bhfooterinput{
border:0px solid;
border-bottom: 2px solid;
letter-spacing: 2px;

font-size: 20px;

}
.Bhfooterinput:focus{
    outline: none;
}
.Bhfooterbuttonsubmit{
    margin-left: 20px;

padding:15px 20px;
background-color: #50504b;
color:white;
border: none;


}

