.modal{
    height: 100%;
   display:grid;
   grid-template-columns: repeat(2,1fr);
}
.modal>div{
    /* border: 1px solid; */
    height: 86%;
    font-size: 14px;
    line-height:34px;
    
}
.modal>div>a>h3{
    font-size: 18px;
    line-height: 54px;
    cursor: pointer;
}